<style>
    [v-cloak] {display: none;}
    .center-cropped {
        object-position: center;
        object-fit: cover;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        border: solid 1px rgb(94, 94, 94);
    }
    .blue-button {
        background-color: dodgerblue;
    }
    .disabled-button {
        background-color: rgb(201, 201, 201);
    }
    .form-item {
        display: flex; align-items: center; margin-bottom: 16px;
    }
    .form-item-label {
        font-size: 15px; font-weight: bold; margin-right: 16px;
        width: 140px; text-align: right;
    }
    .fullname-input {
        font-size: 14px; padding: 8px; border-radius: 6px;
        border: solid 1px rgb(206, 206, 206)
    }
    .save-button {
        flex: 1; width: 100%;
        color: white; font-weight: bold;
        padding: 8px; border: solid; border-radius: 6px; font-size: 16px;
    }
    .title {
        font-size: 18px; font-weight: bold;
        margin: 16px 12px;
    }
    .block {
        background-color: white; padding: 16px;
        margin-bottom: 8px; border-radius: 6px;
    }
</style>
<div>
    <%- partial('../../partials/navbar.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app" style="padding: 24px; max-width: 100%; 
        display: flex;" 
        v-cloak>
        <div style="flex: 1"></div>
        <div style="justify-content: center; min-width: 650px;">
            <div style="margin-bottom: 8px; padding: 16px; 
                background-color: white; border-radius: 8px;">
                <div style="font-weight: bold;">
                    Account Settings
                </div>
                <div style="background-color: white; padding: 16px;">
                    <div class="form-item">
                        <div class="form-item-label">
                            Email address:
                        </div>
                        <div style="font-size: 14px;">
                            {{user.emailAddress}}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-label">
                            Full name:
                        </div>
                        <input type="text" v-model="user.fullName" class="fullname-input">
                    </div>
                    <div class="form-item"> 
                        <div class="form-item-label">
                            Bio:
                        </div>
                        <div style="font-size: 14px;">
                            <textarea v-model="user.bio"
                                style="font-size: 14px; padding: 8px; border-radius: 6px;
                                    width: 300px; border: solid 1px rgb(206, 206, 206)">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-label">
                            Avatar:
                        </div>
                        <div>
                            <img :src="user.imageUrl ? user.imageUrl : '/images/startup.png'" 
                            class="center-cropped">
                            <div style="margin-top: 12px;">
                                <input type="file" v-on:change="handleAvatarChange">
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div style="flex: 1;"></div>
                        <button v-on:click="handleSave" :disabled="isSaving" 
                            v-bind:class="isSaving ? 'disabled-button save-button' : 'blue-button save-button'"
                            style="border-radius: 100px; min-width: 300px;">
                            Save
                        </button>
                        <div style="flex: 1;"></div>
                    </div>
                </div>
            </div>
            <!-- POSTS -->
            <div class="title"> 
                Posts
            </div>
            <div v-for="p in user.posts">
                <%- partial('../../partials/post.ejs') %>
            </div>
        </div>
        <div style="flex:1"></div>
    </div>
    <%- /* Expose locals as 'window.SAILS_LOCALS' :: */ exposeLocalsToBrowser({keys: ['user']}) %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const user = window.SAILS_LOCALS.user
        const app = new Vue({
            el: '#app',
            data: {
                user: user,
                isSaving: false,
                avatarFile: null,
            },
            methods: {
                handleSave: async function() {
                    const formData = new FormData()
                    formData.append('fullName', this.user.fullName)
                    formData.append('bio', this.user.bio)
                    formData.append('imagefile', this.avatarFile)
                    try {
                        await axios.post('/profile', formData)
                        location.reload()
                    } catch (err) {
                        console.error(err.toString())
                    }
                },
                handleAvatarChange: function(event) {
                    this.avatarFile = event.target.files[0]
                    this.user.imageUrl = window.URL.createObjectURL(this.avatarFile)
                }
            }
        })
    </script>
</div>