<style>
    [v-cloak] {display: none;}
    .title {
        font-size: 18px; font-weight: bold;
        margin-bottom: 12px;
    }
    .block {
        background-color: white; padding: 16px;
        margin-bottom: 8px; border-radius: 6px;
    }
    .center-cropped {
        object-position: center;
        object-fit: cover;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        border: solid 1px rgb(94, 94, 94);
    }
    .following {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 12px;
        outline-style: none;
    }
    .not-following {
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 12px;
        outline-style: none;
    }
</style>
<div>
    <%- partial('../../partials/navbar.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app" style="padding: 24px; max-width: 100%; 
        display: flex;" 
        v-cloak>
        <div style="flex: 1"></div> 
        <div style="justify-content: center; width: 650px;">
            <div style="font-weight: bold; margin-bottom: 16px; font-size: 20px;">
                User Information
            </div>
            <div style="background-color: white; padding: 24px; border-radius: 6px; display: flex;">
                <img :src="user.imageUrl" class="center-cropped">
                <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 16px;">
                    <div style="margin-bottom: 8px; font-weight: bold;">
                        {{user.fullName}}
                    </div>  
                    <div style="font-size: 12px;">
                        {{user.emailAddress}}
                    </div>
                </div>
                <div style="flex:1"></div>
                <div style="display: flex; flex-direction: column; justify-content: center;">
                    <button v-on:click="follow()"
                        v-bind:class="user.isFollowing ? 'following' : 'not-following'"
                        style="min-width: 90px; border-radius: 100px; min-height: 30px;"> {{user.isFollowing ? 'Unfollow' : 'Follow'}} </button>
                </div>
            </div>
            <div style="margin-top: 16px; display: flex; flex: 1;">
                <div style="flex: 1; margin-right: 24px;">
                    <div class="title">
                        Currently following
                    </div>
                    <div v-if="!user.following || user.following.length == 0"
                        class="block">
                        Not following anyone.
                    </div>
                    <div v-for="f in user.following" 
                        class="block">
                        <div style="margin-bottom: 8px;">
                            {{f.fullName}}
                        </div>
                        <div style="font-size: 12px;">
                            {{f.emailAddress}}
                        </div>
                    </div>
                </div>
                <div style="flex: 1;">
                    <div class="title"> 
                        Followers
                    </div>
                    <div v-if="!user.following || user.followers.length == 0"
                        class="block">
                        No followers.
                    </div>
                    <div v-for="f in user.followers"
                        class="block">
                        <div style="margin-bottom: 8px;">
                            {{f.fullName}}
                        </div>
                        <div style="font-size: 12px;">
                            {{f.emailAddress}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="title"> 
                Posts
            </div>
            <div v-for="p in user.posts">
                <%- partial('../../partials/post.ejs') %>
            </div>
        </div>
        <div style="flex: 1"></div>
    </div>
    <%- /* Expose locals as 'window.SAILS_LOCALS' :: */ exposeLocalsToBrowser({keys: ['user']}) %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                user: window.SAILS_LOCALS.user,
            },
            methods: {
                follow: async function() {
                    if (this.user.isFollowing) {
                        await axios.post('/unfollow/' + this.user.id)
                    } else {
                        await axios.post('/follow/' + this.user.id)
                    }
                    const id = this.user.id
                    this.user.id = "TEMP"
                    this.user.isFollowing = !this.user.isFollowing
                    this.user.id = id
                }
            }
        })
    </script>
</div>