<style>
    [v-cloak] { display: none; }
    .following {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }
    .not-following {
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 12px;
    }
</style>
<div>
    <%- partial('../../partials/navbar.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app" style="padding: 16px; max-width: 100%; 
        display: flex;" v-cloak>
        <div style="flex: 1"></div>
        <div style="justify-content: center; min-width: 650px;">
            <div v-for="u in users" style="background-color: white; margin-bottom: 16px; 
                padding: 16px; display: flex; border-radius: 8px;"
                v-bind:key="u.id">
                <div style="display: flex; flex-direction: column;">
                    <a :href="'/user/' + u.id">
                        {{u.fullName}}
                    </a>
                    <div style="margin-top: 8px">
                        {{u.emailAddress}}
                    </div>
                </div>
                <div style="flex: 1"></div>
                <div style="display: flex; flex-direction: column; justify-content: center;">
                    <button v-on:click="follow(u)"
                        v-bind:class="u.isFollowing ? 'following' : 'not-following'"
                        style="min-width: 90px; border-radius: 100px; min-height: 30px;">
                        {{u.isFollowing ? 'Unfollow' : 'Follow'}}</button>
                </div>
            </div>
        </div>
        <div style="flex: 1"></div>
    </div>
    <%- /* Expose locals as 'window.SAILS_LOCALS' :: */ exposeLocalsToBrowser({keys: ['users']}) %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script> 
        const allUsers = window.SAILS_LOCALS.users
        // allUsers.forEach(u=> {
        //     u.isFollowing = false
        // })
        const App = new Vue({
            el: '#app',
            data: {
                mymessage: "hello from Vue",
                users: allUsers,
            },
            methods: {
                follow: async function(user) {
                    console.log(user.fullName)
                    if (user.isFollowing) {
                        await axios.post('/unfollow/' + user.id)
                    } else {
                        await axios.post('/follow/' + user.id)
                    }
                    // this.users.forEach( u=> {
                    //     if (u.id == user.id) {
                    // for manual update UI
                    const id = user.id
                    user.id = "TEMP"
                    user.isFollowing = !user.isFollowing
                    user.id = id
                        // }
                    // })
                }
            }
        })
    </script>
</div>