<div style="background-color: white; padding: 16px;
    margin-bottom: 12px; border-radius: 6px;
    display: flex; flex-direction: column; ">
    <div style="font-weight: bold;">
        {{p.user.fullName}}
    </div>
    <div style="color: rgb(186, 186, 186)">
        {{new Date(p.createdAt).toLocaleTimeString() + " " + new Date(p.createdAt).toLocaleDateString()}}
    </div>
    <div style="margin-bottom: 12px">
        {{p.text}}
    </div>
    <div>
        <img style="max-width: 30%; margin-bottom: 12px;" :src="p.imageUrl">
    </div>
    <button v-on:click="handleDeletePost(p)" v-if="p.canDelete" 
    style="background-color: tomato; color: white; border-radius: 6px; width: 30%;"> Delete post</button>
</div>