<div style="background-color: white; padding: 16px;
    margin-bottom: 12px; border-radius: 6px;
    display: flex; flex-direction: column; ">
    <div style="display: flex; margin-bottom: 16px;">
        <img class="center-cropped" :src="p.user.imageUrl">
        <div style=" margin-left: 16px; display: flex; 
            flex-direction: column; justify-content: center;">
            <div style="font-weight: bold; font-size: 16px;">
                {{p.user.fullName}}
            </div>
            <div style="color: rgb(186, 186, 186); font-size: 13px;">
                Posted {{p.fromNow}}
            </div>
        </div>
        <div style="flex: 1"></div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <button v-on:click="handleDeletePost(p)" v-if="p.canDelete" 
                    style="background-color: tomato; color: white; outline-style: none; 
                    border-radius: 100px; min-width: 110px; min-height: 30px; font-weight: bold; font-size: 12px;"> 
                    Delete post</button>
        </div>
    </div>
    <div style="margin-bottom: 12px">
        {{p.text}}
    </div>
    <div style="display: flex;">
        <div style="flex: 1"></div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <img style="max-width: 400px; margin-bottom: 12px;" :src="p.imageUrl">
        </div>
        <div style="flex: 1;"></div>
    </div>
    <div v-if="!p.isCommentButtonHide">
        <a :href="'/post/' + p.id" style="margin-bottom: 12px;">Comment</a>
    </div>
</div>